<html>
    <head>
        <title>Deletar Item</title>
    </head>
    <body>
        <h1>Deletar Item</h1>
        <form action="/delete" method="POST">
            <label for="id">Remover por ID:</label>
            <input type="text" id="id" name="id" required>
            <button type="submit">Remover</button>
        </form>
            <form action="/delete" method="POST">
            <label for="name">Remover por Nome:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Remover</button>
        </form>
        <button><a href="/">Voltar</a></button>
    </body>
</html>