<html>
    <head>
        <title>Novo Item</title>
    </head>
    <body>
        <h1>Novo Item</h1>
        <form action="/new" method="POST">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
            <label for="description">Descrição:</label>
            <input type="text" id="description" name="description">
            <label for="price">Preço:</label>
            <input type="number" id="price" name="price" step="0.01" required>
            <label for="quantity">Quantidade:</label>
            <input type="number" id="quantity" name="quantity" min="0" required>
            <button type="submit">Adicionar Item</button>
        </form>
        <button><a href="/">Voltar</a></button>
    </body>
</html>